In [1]:
import pandas as pd
import numpy as np
import selenium 
from selenium import webdriver
from selenium.webdriver import chrome
from selenium.webdriver.chrome import options
from selenium.webdriver.chrome.service import Service as ChromeService
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup
import time
import datetime
from datetime import datetime as dt
import re
import json

In [12]:
# open results page
page = 55

driver = webdriver.Chrome()
link = "https://www.oddsportal.com/baseball/usa/mlb-2022/results/#/page/{}".format(page)
driver.get(link)
driver.execute_script("window.scrollTo(0,document.body.scrollHeight)")
time.sleep(1)

## this code gets a list of 
allCodes = list()
gameCodes = list()
ids = driver.find_elements(By.XPATH, '//*[@id]')
for id in ids:
    if (id.get_attribute('class') == "eventRow flex w-full flex-col text-xs"):
        gameCodes.append(id.get_attribute('id'))
# open individual game result page
    # find number of games on the page
numGames = len(gameCodes)

for game in gameCodes:
    gamePage = driver.find_element(By.XPATH, f'//*[@id="{game}"]/div/div/div[1]/div[2]/div/div/a[1]')
    gamePage.click()
    
        


driver.quit()

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1994854505.py, line 22)

^^ above ^^ gets a list of codes
for the individual links page, the url needs: "/team1-team2-gameCode/"
now that we have the game codes lets try to get the team names using those codes

In [15]:

#initialize webdriver
driver = webdriver.Chrome()
link = "https://www.oddsportal.com/baseball/usa/mlb-2022/results/#/page/{}".format(page)
driver.get(link)

# load full page by scrolling down
driver.execute_script("window.scrollTo(0,document.body.scrollHeight)")
time.sleep(1)

# get a list of all game codes
gameCodes = list()
ids = driver.find_elements(By.XPATH, '//*[@id]')
for id in ids:
    if (id.get_attribute('class') == "eventRow flex w-full flex-col text-xs"):
        gameCodes.append(id.get_attribute('id'))

# find number of games on the page
numGames = len(gameCodes)

gamePage = list()
for game in gameCodes:
    gamePage.append(driver.find_element(By.XPATH, f'//*[@id="{game}"]/div/div/div[1]/div[2]/div/div/a[1]').get_attribute('href'))

In [46]:
# initialize webdriver
driver = webdriver.Chrome()
driver.get("https://www.oddsportal.com/baseball/usa/mlb-2022/minnesota-twins-boston-red-sox-IsSjf8HG/")

# find game stats
team1Name = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div/main/div[2]/div[3]/div[1]/div[1]/div/div[1]/p').text
team1Score = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div/main/div[2]/div[3]/div[1]/div[1]/div/div[2]/div').text
team2Name = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div/main/div[2]/div[3]/div[1]/div[3]/div[1]/p').text
team2Score = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div/main/div[2]/div[3]/div[1]/div[3]/div[2]/div').text
# find all table rows

x = 2

booky = list()
odds1 = list()
odds2 = list()

while x < 14:
    book = driver.find_element(By.CSS_SELECTOR, f'#app > div > div.w-full.min-h-screen.flex-center.bg-gray-med_light > div > main > div.relative.w-full.flex-grow-1.min-w-\[320px\].bg-white-main > div.min-md\:px-\[10px\] > div.relative.flex.flex-col > div > div:nth-child({x}) > div.flex.items-center.justify-start.w-full.max-ms\:justify-center.max-sm\:flex-wrap.max-sm\:gap-1.border-\[\#E0E0E0\] > a:nth-child(2) > p')
    booky.append(book.text)
    odd1 = driver.find_element(By.CSS_SELECTOR, f'#app > div > div.w-full.min-h-screen.flex-center.bg-gray-med_light > div > main > div.relative.w-full.flex-grow-1.min-w-\[320px\].bg-white-main > div.min-md\:px-\[10px\] > div.relative.flex.flex-col > div > div:nth-child({x}) > div:nth-child(2) > div > div > p')
    odds1.append(odd1.text)
    odd2 = driver.find_element(By.CSS_SELECTOR, f'#app > div > div.w-full.min-h-screen.flex-center.bg-gray-med_light > div > main > div.relative.w-full.flex-grow-1.min-w-\[320px\].bg-white-main > div.min-md\:px-\[10px\] > div.relative.flex.flex-col > div > div:nth-child({x}) > div:nth-child(3) > div > div > p')
    odds2.append(odd2.text)
    x += 1

        


driver.quit()

In [38]:
#app > div > div.w-full.min-h-screen.flex-center.bg-gray-med_light > div > main > div.relative.w-full.flex-grow-1.min-w-\[320px\].bg-white-main > div.min-md\:px-\[10px\] > div.relative.flex.flex-col > div > div:nth-child(2)

#app > div > div.w-full.min-h-screen.flex-center.bg-gray-med_light > div > main > div.relative.w-full.flex-grow-1.min-w-\[320px\].bg-white-main > div.min-md\:px-\[10px\] > div.relative.flex.flex-col > div > div:nth-child(5) > div:nth-child(2)

#app > div > div.w-full.min-h-screen.flex-center.bg-gray-med_light > div > main > div.relative.w-full.flex-grow-1.min-w-\[320px\].bg-white-main > div.min-md\:px-\[10px\] > div.relative.flex.flex-col > div > div:nth-child(4)

#app > div > div.w-full.min-h-screen.flex-center.bg-gray-med_light > div > main > div.relative.w-full.flex-grow-1.min-w-\[320px\].bg-white-main > div.min-md\:px-\[10px\] > div.relative.flex.flex-col > div > div:nth-child(2)

#app > div > div.w-full.min-h-screen.flex-center.bg-gray-med_light > div > main > div.relative.w-full.flex-grow-1.min-w-\[320px\].bg-white-main > div.min-md\:px-\[10px\] > div.relative.flex.flex-col > div > div:nth-child(13)

#app > div > div.w-full.min-h-screen.flex-center.bg-gray-med_light > div > main > div.relative.w-full.flex-grow-1.min-w-\[320px\].bg-white-main > div.min-md\:px-\[10px\] > div.relative.flex.flex-col > div > div:nth-child(2) > div.flex.items-center.justify-start.w-full.max-ms\:justify-center.max-sm\:flex-wrap.max-sm\:gap-1.border-\[\#E0E0E0\] > a:nth-child(4)

0

In [81]:
# initialize dictionary
thisDict = {}

for b, o1, o2 in zip(booky, odds1, odds2):
    thisDict[b] = o1, o2

# Serializing json
json_object = json.dumps(thisDict, indent=4)
 
# Writing to sample.json
with open("sample.json", "w") as outfile:
    outfile.write(json_object)

NameError: name 'booky' is not defined

In [2]:
df = pd.read_json("allData.json")

df = df.T




df

,team1Name,team1Score,team2Name,team2Score,10x10bet,1xBet,bet-at-home,bet365,bwin,Curebet,GGBET,Interwetten,Lasbet,Marathonbet,Pinnacle,William Hill,Unibet,VOBET,Vulkan Bet
55-1,Atlanta Braves,5,Philadelphia Phillies,1,"[1.54, 2.33]","[1.68, 2.22]","[1.56, 2.33]","[1.60, 2.45]","[1.61, 2.35]","[1.54, 2.33]","[1.60, 2.34]","[1.55, 2.20]","[1.54, 2.33]","[1.66, 2.24]","[1.62, 2.37]","[1.53, 2.38]",NaN,NaN,NaN
55-2,New York Yankees,7,Detroit Tigers,8,"[1.50, 2.40]","[1.59, 2.40]","[1.52, 2.42]","[1.55, 2.30]","[1.63, 2.30]","[1.50, 2.40]","[1.54, 2.48]","[1.50, 2.30]","[1.50, 2.40]","[1.57, 2.42]","[1.55, 2.54]","[1.57, 2.30]",NaN,NaN,NaN
55-3,Cincinnati Reds,9,Oakland Athletics,3,"[1.65, 2.10]","[1.72, 2.08]","[1.69, 2.10]","[1.74, 2.15]","[1.75, 2.10]","[1.67, 2.07]","[1.73, 2.11]","[1.65, 2.05]","[1.67, 2.07]","[1.71, 2.15]","[1.73, 2.17]",NaN,"[1.71, 2.17]",NaN,NaN
55-4,Washington Nationals,2,New York Mets,6,"[1.95, 1.75]","[2.06, 1.77]","[1.99, 1.76]","[2.00, 1.83]","[2.05, 1.80]","[1.95, 1.75]","[2.03, 1.79]","[1.95, 1.70]","[1.95, 1.75]","[2.06, 1.77]","[2.05, 1.82]",NaN,"[2.06, 1.78]",NaN,NaN
55-5,Colorado Rockies,5,San Francisco Giants,8,"[2.08, 1.66]","[2.09, 1.75]","[2.10, 1.68]","[2.15, 1.74]","[2.15, 1.71]","[2.08, 1.66]","[2.03, 1.79]","[2.05, 1.65]","[2.08, 1.66]","[2.09, 1.75]","[2.17, 1.73]",NaN,"[2.14, 1.73]",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1-26,Los Angeles Dodgers,3,San Diego Padres,5,"[1.54, 2.62]","[1.56, 2.67]","[1.53, 2.60]","[1.54, 2.65]","[1.53, 2.55]","[1.54, 2.66]","[1.51, 2.53]","[1.50, 2.40]","[1.54, 2.66]","[1.51, 2.63]","[1.55, 2.67]",NaN,"[1.52, 2.60]",NaN,NaN
1-27,Atlanta Braves,3,Philadelphia Phillies,0,"[1.72, 2.23]","[1.70, 2.34]","[1.71, 2.20]","[1.68, 2.25]","[1.70, 2.20]","[1.77, 2.17]","[1.68, 2.16]","[1.65, 2.10]","[1.72, 2.25]","[1.66, 2.28]","[1.71, 2.29]",NaN,"[1.72, 2.20]",NaN,NaN
1-28,Los Angeles Dodgers,5,San Diego Padres,3,"[1.43, 3.02]","[1.42, 3.22]","[1.41, 3.00]","[1.40, 3.05]","[1.40, 3.00]","[1.43, 3.07]","[1.43, 2.79]","[1.37, 2.85]","[1.43, 3.07]","[1.40, 3.05]","[1.42, 3.14]",NaN,"[1.42, 3.05]",NaN,NaN
1-29,New York Yankees,4,Cleveland Guardians,1,"[1.50, 2.75]","[1.52, 2.80]","[1.50, 2.65]","[1.47, 2.75]","[1.48, 2.70]","[1.50, 2.79]","[1.45, 2.72]","[1.45, 2.55]","[1.50, 2.79]","[1.55, 2.80]","[1.52, 2.74]",NaN,"[1.50, 2.75]",NaN,NaN
1-30,Houston Astros,8,Seattle Mariners,7,"[1.48, 2.81]","[1.43, 3.18]","[1.43, 2.95]","[1.42, 2.95]","[1.40, 3.00]","[1.49, 2.82]","[1.44, 2.75]","[1.40, 2.75]","[1.45, 2.98]","[1.41, 3.00]","[1.44, 3.07]",NaN,"[1.43, 2.95]",NaN,NaN

In [87]:
result = []
for tm1, tm2, sc1, sc2 in zip(df['team1Name'], df['team2Name'], df['team1Score'], df['team2Score']):
    if (sc1 > sc2):
        result.append(tm1)
    else:
        result.append(tm2)
df['result'] = result

df

,team1Name,team1Score,team2Name,team2Score,10x10bet,1xBet,bet-at-home,bet365,bwin,Curebet,GGBET,Interwetten,Lasbet,Marathonbet,Pinnacle,William Hill,Unibet,VOBET,Vulkan Bet,result
55-1,Atlanta Braves,5,Philadelphia Phillies,1,"[1.54, 2.33]","[1.68, 2.22]","[1.56, 2.33]","[1.60, 2.45]","[1.61, 2.35]","[1.54, 2.33]","[1.60, 2.34]","[1.55, 2.20]","[1.54, 2.33]","[1.66, 2.24]","[1.62, 2.37]","[1.53, 2.38]",NaN,NaN,NaN,Atlanta Braves
55-2,New York Yankees,7,Detroit Tigers,8,"[1.50, 2.40]","[1.59, 2.40]","[1.52, 2.42]","[1.55, 2.30]","[1.63, 2.30]","[1.50, 2.40]","[1.54, 2.48]","[1.50, 2.30]","[1.50, 2.40]","[1.57, 2.42]","[1.55, 2.54]","[1.57, 2.30]",NaN,NaN,NaN,Detroit Tigers
55-3,Cincinnati Reds,9,Oakland Athletics,3,"[1.65, 2.10]","[1.72, 2.08]","[1.69, 2.10]","[1.74, 2.15]","[1.75, 2.10]","[1.67, 2.07]","[1.73, 2.11]","[1.65, 2.05]","[1.67, 2.07]","[1.71, 2.15]","[1.73, 2.17]",NaN,"[1.71, 2.17]",NaN,NaN,Cincinnati Reds
55-4,Washington Nationals,2,New York Mets,6,"[1.95, 1.75]","[2.06, 1.77]","[1.99, 1.76]","[2.00, 1.83]","[2.05, 1.80]","[1.95, 1.75]","[2.03, 1.79]","[1.95, 1.70]","[1.95, 1.75]","[2.06, 1.77]","[2.05, 1.82]",NaN,"[2.06, 1.78]",NaN,NaN,New York Mets
55-5,Colorado Rockies,5,San Francisco Giants,8,"[2.08, 1.66]","[2.09, 1.75]","[2.10, 1.68]","[2.15, 1.74]","[2.15, 1.71]","[2.08, 1.66]","[2.03, 1.79]","[2.05, 1.65]","[2.08, 1.66]","[2.09, 1.75]","[2.17, 1.73]",NaN,"[2.14, 1.73]",NaN,NaN,San Francisco Giants
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1-26,Los Angeles Dodgers,3,San Diego Padres,5,"[1.54, 2.62]","[1.56, 2.67]","[1.53, 2.60]","[1.54, 2.65]","[1.53, 2.55]","[1.54, 2.66]","[1.51, 2.53]","[1.50, 2.40]","[1.54, 2.66]","[1.51, 2.63]","[1.55, 2.67]",NaN,"[1.52, 2.60]",NaN,NaN,San Diego Padres
1-27,Atlanta Braves,3,Philadelphia Phillies,0,"[1.72, 2.23]","[1.70, 2.34]","[1.71, 2.20]","[1.68, 2.25]","[1.70, 2.20]","[1.77, 2.17]","[1.68, 2.16]","[1.65, 2.10]","[1.72, 2.25]","[1.66, 2.28]","[1.71, 2.29]",NaN,"[1.72, 2.20]",NaN,NaN,Atlanta Braves
1-28,Los Angeles Dodgers,5,San Diego Padres,3,"[1.43, 3.02]","[1.42, 3.22]","[1.41, 3.00]","[1.40, 3.05]","[1.40, 3.00]","[1.43, 3.07]","[1.43, 2.79]","[1.37, 2.85]","[1.43, 3.07]","[1.40, 3.05]","[1.42, 3.14]",NaN,"[1.42, 3.05]",NaN,NaN,Los Angeles Dodgers
1-29,New York Yankees,4,Cleveland Guardians,1,"[1.50, 2.75]","[1.52, 2.80]","[1.50, 2.65]","[1.47, 2.75]","[1.48, 2.70]","[1.50, 2.79]","[1.45, 2.72]","[1.45, 2.55]","[1.50, 2.79]","[1.55, 2.80]","[1.52, 2.74]",NaN,"[1.50, 2.75]",NaN,NaN,New York Yankees
1-30,Houston Astros,8,Seattle Mariners,7,"[1.48, 2.81]","[1.43, 3.18]","[1.43, 2.95]","[1.42, 2.95]","[1.40, 3.00]","[1.49, 2.82]","[1.44, 2.75]","[1.40, 2.75]","[1.45, 2.98]","[1.41, 3.00]","[1.44, 3.07]",NaN,"[1.43, 2.95]",NaN,NaN,Houston Astros

In [16]:
def CleanData(df):

    result = []

    for tm1, tm2, sc1, sc2 in zip(df['team1Name'], df['team2Name'], df['team1Score'], df['team2Score']):
        if (sc1 > sc2):
            result.append(tm1)
        else:
            result.append(tm2)
            
    df['result'] = result

    ten1 = []
    ten2 = []
    xB1 = [] 
    xB2 = []
    bah1 = []
    bah2 = []
    b3651 = []
    b3652 = []
    bw1 = []
    bw2 = []
    Cb1 = []
    Cb2 = []
    GG1 = []
    GG2 = []
    Iwe1 = []
    Iwe2 = []
    Lb1 = []
    Lb2 = []
    Mb1 = []
    Mb2 = []
    Pnn1 = []
    Pnn2 = []
    WH1 = []
    WH2 = []
    Ub1 = []
    Ub2 = []
    VO1 = []
    VO2 = []
    VB1 = []
    VB2 = []




    for ten, xB, bah, b365, bw, Cb, GG, Iwe, Lb, Mb, Pnn, WH, Ub, VO, VB in zip(df['10x10bet'], df['1xBet'], df['bet-at-home'], df['bet365'], df['bwin'], df['Curebet'], df['GGBET'], df['Interwetten'], df['Lasbet'], df['Marathonbet'], df['Pinnacle'], df['William Hill'], df['Unibet'], df['VOBET'], df['Vulkan Bet']):
        try:
            x, y = ten
            ten1.append(x)
            ten2.append(y)
        except:
            ten1.append(0.00)
            ten2.append(0.00)
        try:
            x, y = xB
            xB1.append(x)
            xB2.append(y)
        except:
            xB1.append(0.00)
            xB2.append(0.00)
        try:
            x, y = bah
            bah1.append(x)
            bah2.append(y)
        except:
            bah1.append(0.00)
            bah2.append(0.00)
        try:
            x, y = b365
            b3651.append(x)
            b3652.append(y)
        except:
            b3651.append(0.00)
            b3652.append(0.00)
        try:
            x, y = bw
            bw1.append(x)
            bw2.append(y)
        except:
            bw1.append(0.00)
            bw2.append(0.00)
        try:
            x, y = Cb
            Cb1.append(x)
            Cb2.append(y)
        except:
            Cb1.append(0.00)
            Cb2.append(0.00)
        try:
            x, y = GG
            GG1.append(x)
            GG2.append(y)
        except:
            GG1.append(0.00)
            GG2.append(0.00)
        try:
            x, y = Iwe
            Iwe1.append(x)
            Iwe2.append(y)
        except:
            Iwe1.append(0.00)
            Iwe2.append(0.00)
        try:
            x, y = Lb
            Lb1.append(x)
            Lb2.append(y)
        except:
            Lb1.append(0.00)
            Lb2.append(0.00)
        try:
            x, y = Mb
            Mb1.append(x)
            Mb2.append(y)
        except:
            Mb1.append(0.00)
            Mb2.append(0.00)
        try:
            x, y = Pnn
            Pnn1.append(x)
            Pnn2.append(y)
        except:
            Pnn1.append(0.00)
            Pnn2.append(0.00)
        try:
            x, y = WH
            WH1.append(x)
            WH2.append(y)
        except:
            WH1.append(0.00)
            WH2.append(0.00)
        try:
            x, y = Ub
            Ub1.append(x)
            Ub2.append(y)
        except:
            Ub1.append(0.00)
            Ub2.append(0.00)
        try:
            x, y = VO
            VO1.append(x)
            VO2.append(y)
        except:
            VO1.append(0.00)
            VO2.append(0.00)
        try:
            x, y = VB
            VB1.append(x)
            VB2.append(y)
        except:
            VB1.append(0.00)
            VB2.append(0.00)




    df['ten1'] = ten1
    df['ten2'] = ten2
    df['xB1'] = xB1
    df['xB2'] = xB2
    df['bah1'] = bah1
    df['bah2'] = bah2
    df['b365-1'] = b3651
    df['b365-2'] = b3652
    df['bw1'] = bw1
    df['bw2'] = bw2
    df['Cb1'] = Cb1
    df['Cb2'] = Cb2
    df['GG1'] = GG1
    df['GG2'] = GG2
    df['Iwe1'] = Iwe1
    df['Iwe2'] = Iwe2
    df['Lb1'] = Lb1
    df['Lb2'] = Lb2
    df['Mb1'] = Mb1
    df['Mb2'] = Mb2
    df['Pnn1'] = Pnn1
    df['Pnn2'] = Pnn2
    df['VO1'] = VO1
    df['VO2'] = VO2
    df['VB1'] = VB1
    df['VB2'] = VB2
    return df

if __name__ == "__main__":
    df = pd.read_json("allData.json")
    df = df.T
    df = CleanData(df)
    df.to_csv("AllData.csv")

In [11]:
def FocusOnBestOdds(df):
    ddf = pd.DataFrame()
    ddf['team1Name'] = df['team1Name']
    ddf['team1Score'] = df['team1Score']
    ddf['team2Name'] = df['team2Name']
    ddf['team2Score'] = df['team2Score']
    ddf['result'] = df['result']
    
    winOd1 = []
    winOd2 = []

    for ten1, ten2, xB1, xB2, bah1, bah2, b3651, b3652, bw1, bw2, Cb1, Cb2, GG1, GG2, Iwe1, Iwe2, Lb1, Lb2, Mb1, Mb2, Pnn1, Pnn2, VO1, VO2, VB1, VB2 in zip(df['ten1'], df['ten2'], df['xB1'], df['xB2'], df['bah1'], df['bah2'], df['b365-1'], df['b365-2'], df['bw1'], df['bw2'], df['Cb1'], df['Cb2'], df['GG1'], df['GG2'], df['Iwe1'], df['Iwe2'], df['Lb1'], df['Lb2'], df['Mb1'], df['Mb2'], df['Pnn1'], df['Pnn2'], df['VO1'], df['VO2'], df['VB1'], df['VB2']):
        winOd1.append(max(ten1, xB1, bah1, b3651, bw1, Cb1, GG1, Iwe1, Lb1, Mb1, Pnn1, VO1, VB1))
        winOd2.append(max(ten2, xB2, bah2, b3652, bw2, Cb2, GG2, Iwe2, Lb2, Mb2, Pnn2, VO2, VB2))

    ddf['winningOdds_team1'] = winOd1
    ddf['winningOdds_team2'] = winOd2
    ddf

In [8]:
if __name__ == "__main__":
    df = pd.read_json("allData.json")
    df = df.T
    df = CleanData(df)
    df = FocusOnBestOdds(df)
    print(df)

TypeError: '>' not supported between instances of 'float' and 'str'

In [17]:
teams = {
        "Chicago White Sox": 0,
        "Cleveland Guardians": 0,
        "Detroit Tigers": 0,
        "Kansas City Royals": 0,
        "Minnesota Twins": 0,
        "Baltimore Orioles": 0,
        "Boston Red Sox": 0,
        "New York Yankees": 0,
        "Tampa Bay Rays": 0,
        "Toronto Blue Jays": 0,
        "Houston Astros": 0,
        "Los Angeles Angels": 0,
        "Oakland Athletics": 0,
        "Seattle Mariners": 0,
        "Texas Rangers": 0,
        "Chicago Cubs": 0,
        "Cincinnati Reds": 0,
        "Milwaukee Brewers": 0,
        "Pittsburgh Pirates": 0,
        "St.Louis Cardinals": 0,
        "Atlanta Braves": 0,
        "Miami Marlins": 0,
        "New York Mets": 0,
        "Philadelphia Phillies": 0,
        "Washington Nationals": 0,
        "Arizona Diamondbacks": 0,
        "Colorado Rockies": 0,
        "Los Angeles Dodgers": 0,
        "San Diego Padres": 0,
        "San Francisco Giants": 0
}

# Serializing json
json_object = json.dumps(teams, indent=4)

with open("winDict.json", "w") as outfile:
    outfile.write(json_object)